@import "https://fonts.googleapis.com/css?family=Lato:400,500,600,700|Open+Sans:300";

.logo {
    width: 16.6%;
    float: left;
}

.logo img {
    height: 101px;
    width: auto;
}

/*.main-background {
    background-image: url("/templates/protostar/images/bg-big.jpg");
}*/

.container {
    background-color: #fff;
    max-width: 1280px;
    min-height: 100vh;
    padding: 0;
}

.header {
    margin: 0;
    height: 102px;
    border-bottom: 1px solid #e1e1e1;
}

.blocks {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.ansis-btn {
  color: #1a7bff;
  border: 1px solid #1a7bff;
  border-radius: 40px;
  padding: 20px 35px;
  background-color: #fff;
}

.ansis-btn:hover {
    color: #fff;
    background-color: #1a7bff;
}

.breadcrumb {
    padding: 35px 0 0 0 !important;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
}

.breadcrumb span {
    color: #000;
}

.breadcrumb a span {
    color: #1a7bff;
}

.breadcrumb a:hover span {
    color: #3c4e6b;
}

.breadcrumb > li + li::before {
    content: "";
    padding: 0;
}

.page-header {
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: none;
}

.item-page > .page-header > h2:nth-child(1), .blog > h2 >span {
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 40px 0 60px 0;
}

.page-header > h2 >a {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #1a7bff;
}

.leading {
    position: relative;
    bottom: 40px;
}

.leading > .page-header {
    position: relative;
    top: 325px;
    border-bottom: none;
}

.item-page {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.contacts-table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #363845;
    text-align: left;
}

.contacts-table td {
    padding: 0 50px 0 130px;
}




/*------------------------------------*\
    Главное меню (Main menu)
\*------------------------------------*/
ul.menumain {
    text-align: center;
}

.main_menu .nav > li {
    display: inline-block;
}

.main_menu .nav > li > a {
    color: #222222;
    font-weight: bold;
    font-size: 15px;
    padding: 16px 16px;
    margin: 26px auto;
}

.main_menu .nav > li > a:hover {
    color: #fff;
    background-color: #37393f;
}





/*------------------------------------*\
    Статьи и подборки
\*------------------------------------*/
h1.list_of_articles {
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 70px 0 40px 0;
}

div.list_of_articles {
  text-align: center;
  margin-bottom: 50px;
}

.intro-articles-news {
  width: 75px;
  height: 75px;
  float: left;
}

.one-article-new {
  width: 24.5%;
  display: inline-block;
}

.one-article-new a > p {
    height: 75px;
    padding: 0;
    width: 180px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 3px;
    margin-left: 5px;
}

.one-article-new > p {
    float: right;
    width: 180px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #787878;
    margin-right: 15px;
}

.newsflash {
    padding: 0 20px;
    text-align: left;
    margin-bottom: 50px;
}






/*------------------------------------*\
    Блог
\*------------------------------------*/
.blog > h2 {
    text-align: center;
}

.pull-left.item-image, .pull-left.item-image img  {
    width: 100%;
    height: auto;
    max-height: 280px;
    margin: 0 20px 45px 0;
}

.leading p {
    text-align: center;
}

.pagination ul > li:last-child, .pagination ul > li:nth-last-child(2), .pagination ul > li:nth-child(1), .pagination ul > li:nth-child(2) {
    display: none;
}

.pagination ul > li > a {
    border: 1px solid #959595;
    border-radius: 25px;
    color: #959595;
    padding: 15px 20px;
    float: none;
    margin: 17px;
}

.pagination ul > .active > a, .pagination ul > li > a:hover {
    color: #fff;
    background-color: #959595;
}

.blog {
    text-align: center;
}

.text-page {
    margin-bottom: 55px;
}

.text-page p {
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: #6b6b6b;
    font-size: 14px;
}



/*------------------------------------*\
    Подвал (Footer)
\*------------------------------------*/
footer {
    padding: 65px 50px 95px 50px;
    background-color: #fbfbfb;
}

.copyright, .bottom_menu, .right_footer{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.bottom_menu {
    width: 50%;
    text-align: center;
}

.bottom_menu h3 {
    margin: 0;
    color: #1a7bff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.bottom_menu .nav > li > a {
    padding: 10px 0;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.bottom_menu .nav > li:hover > a {
    color: #1a7bff;
    background-color: transparent;
}

.copyright, .right_footer {
    width: 24.6%;
}

.bottom_menu > .moduletable, .phone > .moduletable {
  display: inline-block;
}

.bottom_menu > .moduletable {
    text-align: left;
}

.bottom_menu > .moduletable:nth-child(1) {
    margin-right: 80px;
}

.phone p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

.phone img {
    position: relative;
    bottom: 3px;
}

.phone {
    padding-bottom: 100px;
}

.medialine p {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
}

.map_window {
    height: 520px;
}

.copyright h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #787878;
    margin: 0 0 20px 0;
}

.copyright p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #787878;
}

.for-company {
    width: 90%;
    margin: 0 auto;
}

.text-for-company, .slider-for-company {
    display: inline-block;
    width: 49.5%;
}

/*текст о компании*/
.text-for-company {
    vertical-align: top;
}

.text-for-company h3 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 10px 0 30px 0;
}

.text-for-company p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.text-for-company .btn {
    margin-top: 20px;
}

/*слайдер о компании*/
.slider-for-company .bx-default-pager {
    display: none;
}

.slider-for-company .bx-wrapper .bx-controls-direction a {
    width: 68px;
    height: 68px;
}

.slider-for-company .bx-wrapper .bx-prev {
    background: url("/images/company_slider/arrows/prev.jpg");
    left: 0;
}

.slider-for-company .bx-wrapper .bx-next {
    background: url("/images/company_slider/arrows/next.jpg");
    right: 0;
}